com.yang.test.jaxb/src/main/resources/Student1_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Student1_3"
	xmlns:tns="http://www.example.org/Student1_3" elementFormDefault="qualified">
	<element name="Student">
		<complexType>
			<sequence>
				<element name="name" type="string" />
			</sequence>
			<attribute name="id" type="int" />
		</complexType>
	</element>
</schema>